.img-evento {
  width: 120px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform .3s ease, box-shadow .3s ease;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
  }
}
