<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <a class="navbar-brand" routerLink="dashboard">
      ProEventos
    </a>

    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleMenu()"
      [attr.aria-expanded]="menuAberto"
      aria-controls="navbarSupportedContent"
      aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>

    </button>


    <div
      class="navbar-collapse"
      [class.show]="menuAberto"
      id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/eventos">
            Eventos
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/palestrantes">
            Palestrantes
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/contatos">
            Contatos
          </a>
        </li>

      </ul>


      <!-- Usuário -->
      <ul class="navbar-nav ms-auto">

        <li class="nav-item dropdown">

          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">

            Victor Gomes

          </a>


          <ul class="dropdown-menu dropdown-menu-end">

            <li>
              <a class="dropdown-item" routerLink="perfil">
                Perfil
              </a>
            </li>


            <li>
              <hr class="dropdown-divider">
            </li>


            <li>
              <a class="dropdown-item text-danger" href="#">
                Sair
              </a>
            </li>

          </ul>

        </li>

      </ul>

    </div>

  </div>
</nav>
