<div class="toast-container position-fixed top-0 end-0 p-3">

  <div
    #toast
    class="toast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true">


    <div class="toast-header">

      <strong class="me-auto">
        {{ titulo }}
      </strong>


      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast">
      </button>


    </div>


    <div
      class="toast-body"
      [ngClass]="{
        'text-bg-success': tipo === 'success',
        'text-bg-danger': tipo === 'danger',
        'text-bg-warning': tipo === 'warning',
        'text-bg-info': tipo === 'info'
      }">

      {{ mensagem }}

    </div>


  </div>

</div>
